{% extends 'base.html' %}

{% load messages %}

{% block content %}
    <div id="messages">
        <div class="author-messages-container">
            {% with messages|format_messages as formatted_messages %}
                {% for group in formatted_messages %}
                    <p class="greetings">{{ group.author }} disse:</p>
                    <div data-author="{{ group.author }}">
                        <div class="message">
                            {% for message in group.messages %}
                                <p>{{ message.content }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>

    <div style="display: flex; width: 100%; justify-content: center; gap: 1rem; margin: 2rem; height: 50px; width: 620px;">
        <input placeholder="digite uma mensagem" id="input">
        <button onclick="sendMessage('{{room_name}}')">Enviar</button>
    </div>

    <script>
        const roomName = "{{ room_name }}"
        const socket = new WebSocket(`ws://localhost:8000/ws/chat/${roomName}/`);
    </script>

{% endblock %}
